# Ignore Python cache and compiled files
*.pyc
__pycache__/

# Ignore environment variable file
.env

# Ignore SQLite database
db.sqlite3

# Ignore virtual environment directory
venv/

# Ignore any log files
*.log
